.swiper-container {
  width: 100%;
  height: 92%;
  @media (max-width: 768px) {
    height: 92%;
  }
}



.slide-img {
  width: 100%;
  height: 660px;
  @media (max-width: 768px) {
    height: 595px;
  }
  @media (max-width: 576px) {
    height: 375px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    object-position: center;
  }
}

.swiper-container-v {
  background: #eee;
}
.swiper-pagination {
  position: static;
}

.swiper-pagination-bullet {
  width: 35px;
  height: 5px;
  display: inline-block;
  border-radius: 4px;
  margin-right: 15px;
}
