.mySwiperx {
  width: 100%;
  .swiper {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    padding: 5px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.card-complect {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  padding: 30px 0 40px 35px;
  .complect-head {
    display: flex;
    margin-bottom: 10px;
  }
  .complect-content {
    padding-right: 40px;
  }
  .complect-title {
    font-size: 20px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: left;
    color: $title-color;
  }
  .complect-price {
    background: #e60f2a;
    border-radius: 2px 0px 0px 2px;
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    padding: 8px 25px 7px 25px;
    margin-bottom: 5px;
  }
  .complect-subprice {
    font-size: 16px;
    color: #a7a8a8;
    text-decoration: line-through;
  }
  .list-title {
    font-weight: 300;
    font-size: 16px;
    color: #515b60;
    text-align-last: left;
    margin-bottom: 10px;
  }
  .list {
    padding-left: 20px;
    list-style: unset;
    text-align-last: left;
    margin-bottom: 20px;
  }
  .list-item {
    font-weight: 300;
    font-size: 16px;
    line-height: 2;
    color: $light-black;
    &::marker {
      color: $title-color;
    }
  }
  .complect-info-title {
    font-weight: 300;
    font-size: 16px;
    text-align-last: left;
    color: $light-black;
    margin-bottom: 10px;
  }
  .complect-text {
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
    color: $light-black;
    text-align: left;
    margin-bottom: 30px;
  }
}
.coplect-link-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buy-link {
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  background: #e60f2a;
  border-radius: 5px;
  padding: 18px 45px 15px 45px;
  transition: all 0.3s;
  &:hover {
    color: #ffffff;
    background-color: #ff0000;
    box-shadow: 0 0 15px 0 rgba(252, 2, 2, 0.952);
  }
}
.info-link {
  font-size: 14px;
  text-transform: uppercase;
  color: $title-color;
  border: 1px solid #004da0;
  border-radius: 5px;
  padding: 15px 30px;
  transition: all 0.3s;
  &:hover {
    color: #ff0000;
  }
}
.card-info {
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  position: relative;
  .card-antena {
    width: 100%;
    height: 270px;
    margin-top: 55px;
    padding: 20px;
    img {
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  .card-element {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 1;
  }
  .red,
  .navy,
  .blue {
    font-size: 14px;
    width: 120px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 4px 10px;
    border-radius: 0px 2px 2px 0px;
    img {
      width: 17px;
      height: 17px;
    }
  }
  .red {
    background-color: #e60f2a;
  }
  .navy {
    background-color: #004da0;
  }
  .blue {
    background-color: #00adee;
  }
  .card-info-content {
    padding: 18px 40px 40px 40px;
    @media (max-width:768px) {
      padding: 18px 25px 40px 25px;
    }
  }
  .card-info-title {
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: $light-black;
    text-align-last: left;
    margin-bottom: 20px;
  }
  .card-price-wrap {
    text-align: left;
    margin-bottom: 35px;
  }
  .card-info-price {
    font-size: 20px;
    color: rgba(21, 31, 36, 0.51);
    text-decoration: line-through;
    margin-right: 40px;
  }
  .card-info-subprice {
    font-weight: 500;
    font-size: 25px;
    color: #004da0;
  }
}
