{% set title = "index" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}

<main>
  <div class="container-mod">
    <div class="row mb80">
      <div class="col-md-12">
        <section class="block">
          <div class="block-inner">
            <div class="block-slide">
              <div class="swiper-container mySwiper swiper-container-h">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slide-img"><img src="./images/png/Group.png" alt=":("></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-img"><img src="./images/png/Group.png" alt=":("></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-img"><img src="./images/png/Group.png" alt=":("></div>
                  </div>
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
            <div class="block-info">
              <div>
                <h1 class="block-info-title">Установка, продажа
                  и настройка
                  оборудования
                  <span>триколор</span>
                </h1>
                <div class="block-info-subtitle">
                  Закажите оборудование сейчас
                  и получите <span>3 ПОДАРКА:</span>
                </div>
                <ul class="info-ul">
                  <li class="info-ul-item">Грозозащиту</li>
                  <li class="info-ul-item">Сим-карту с безлимитным интернет тарифом</li>
                  <li class="info-ul-item">Скидку 10% на любую услугу</li>
                </ul>
                <div class="btn-wrap"><a href="#!" class="red-btn">Заказать</a> </div>

              </div>
              <div class="row">
                <div class="col-md-4 pr0">
                  <a href="#!" class="block-mini-card">
                    <img src="./images/svg/hd.svg" alt=":(">
                    <div>220 каналов
                      в HD качестве </div>
                  </a>
                </div>
                <div class="col-md-4 pr0">
                  <a href="#!" class="block-mini-card">
                    <img src="./images/svg/Деньги.svg" alt=":(">
                    <div>от 100 рублей
                      в месяц в любой точке РФ</div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#!" class="block-mini-card">
                    <img src="./images/svg/Сигнал.svg" alt=":(">
                    <div>Надежный прием
                      в любой точке РФ</div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="m-768">
            <div class="row">
              <div class="col-md-4 pr0">
                <a href="#!" class="block-mini-card mini-card">
                  <img src="./images/svg/hd.svg" alt=":(">
                  <div>220 каналов
                    в HD качестве </div>
                </a>
              </div>
              <div class="col-md-4 pr0">
                <a href="#!" class="block-mini-card mini-card">
                  <img src="./images/svg/Деньги.svg" alt=":(">
                  <div>от 100 рублей
                    в месяц в любой точке РФ</div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="#!" class="block-mini-card mini-card">
                  <img src="./images/svg/Сигнал.svg" alt=":(">
                  <div>Надежный прием
                    в любой точке РФ</div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row mb80">
      <div class="col-md-12">
        <section class="tabSlide-wrap">
          <div class="tabSlide-title">Комплекты и оборудование</div>
          <div>
            <ul class="tabs">
              <li class="active" rel="tab1">
                <div class="tab-item-wrap">
                  <div class="tab-item">
                    <img src="./images/svg/smart-tv-icon.svg" alt="">
                    <span>Спутниковое
                      телевидение</span>
                  </div>

                </div>
              </li>
              <li rel="tab2">
                <div class="tab-item-wrap">
                  <div class="tab-item">
                    <img src="./images/svg/wifi.svg" alt="">
                    <span>3G/4G связь
                      и интернет</span>
                  </div>

                </div>
              </li>
              <li rel="tab3">
                <div class="tab-item-wrap">
                  <div class="tab-item">
                    <img src="./images/svg/icon-satellite.svg" alt="">
                    <span>Спутниковый
                      интернет</span>
                  </div>

                </div>
              </li>
              <li rel="tab4">
                <div class="tab-item-wrap">
                  <div class="tab-item">
                    <img src="./images/svg/house.svg" alt="">
                    <span>Умный дом</span>
                  </div>

                </div>
              </li>
              <li rel="tab5">
                <div class="tab-item-wrap">
                  <div class="tab-item">
                    <img src="./images/svg/free-ismart-tv.svg" alt="">
                    <span>Эфирное
                      телевидиние</span>
                  </div>

                </div>
              </li>
              <li rel="tab6">
                <div class="tab-item-wrap">
                  <div class="tab-item">
                    <img src="./images/svg/security-video.svg" alt="">
                    <span>Видеонаблю-
                      дение</span>
                  </div>

                </div>
              </li>
            </ul>
            <div class="tab_container">
              <div class="d_active tab_drawer_heading" rel="tab1">Tab 1</div>
              <div id="tab1" class="tab_content">
                <div>
                  <ul class="tabsx">
                    <li class="activex" rel="tabx1">
                      <div class="">
                        <div class="">

                          <span>Комплекты</span>
                        </div>

                      </div>
                    </li>
                    <li rel="tabx2">
                      <div class="">
                        <div class="">

                          <span>Обмен</span>
                        </div>

                      </div>
                    </li>
                    <li rel="tabx3">
                      <div class="">
                        <div class="">
                          <span>Ресиверы</span>
                        </div>

                      </div>
                    </li>
                    <li rel="tabx4">
                      <div class="">
                        <div class="">
                          <span>Эфирное ТВ</span>
                        </div>

                      </div>
                    </li>
                    <li rel="tabx5">
                      <div class="">
                        <div class="">
                          <span>Антенны-тарелки</span>
                        </div>

                      </div>
                    </li>

                  </ul>
                  <div class="tab_containerx">
                    <div class="d_activex tab_drawer_headingx" rel="tabx1">Tab 1</div>
                    <div id="tabx1" class="tab_contentx">

                      <h2>Tab 1 content</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p>
                    </div>
                    <!-- #tab1 -->
                    <div class="tab_drawer_headingx" rel="tabx2">Tab 2</div>
                    <div id="tabx2" class="tab_contentx">
                      <h2>Tab 2 content</h2>
                      <p>Nunc dui velit, scelerisque eu placerat volutpat, dapibus eu nisi. Vivamus eleifend vestibulum
                        odio
                        non vulputate.</p>
                    </div>
                    <!-- #tab2 -->
                    <div class="tab_drawer_headingx" rel="tabx3">Tab 3</div>
                    <div id="tabx3" class="tab_contentx">
                      <h2>Tab 3 content</h2>
                      <p>Nulla eleifend felis vitae velit tristique imperdiet. Etiam nec imperdiet elit. Pellentesque
                        sem
                        lorem, scelerisque sed facilisis sed, vestibulum sit amet eros.</p>
                    </div>
                    <!-- #tab3 -->
                    <div class="tab_drawer_headingx" rel="tabx4">Tab 4</div>
                    <div id="tabx4" class="tab_contentx">
                      <h2>Tab 4 content</h2>
                      <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non
                        faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing
                        mauris
                        justo nec eros.</p>
                    </div>
                    <!-- #tab5 -->
                    <div class="tab_drawer_headingx" rel="tabx5">Tab 5</div>
                    <div id="tabx5" class="tab_contentx">
                      <h2>Tab 5 content</h2>
                      <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non
                        faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing
                        mauris
                        justo nec eros.</p>
                    </div>
                    <!-- #tab6 -->
                    <div class="tab_drawer_headingx" rel="tabx6">Tab 6</div>
                    <div id="tabx6" class="tab_contentx">
                      <h2>Tab 6 content</h2>
                      <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non
                        faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing
                        mauris
                        justo nec eros.</p>
                    </div>
                  </div>
                  <!-- .tab_container -->
                </div>
                <!-- <h2>Tab 1 content</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac metus augue.</p> -->
              </div>
              <!-- #tab1 -->
              <div class="tab_drawer_heading" rel="tab2">Tab 2</div>
              <div id="tab2" class="tab_content">
                <h2>Tab 2 content</h2>
                <p>Nunc dui velit, scelerisque eu placerat volutpat, dapibus eu nisi. Vivamus eleifend vestibulum odio
                  non vulputate.</p>
              </div>
              <!-- #tab2 -->
              <div class="tab_drawer_heading" rel="tab3">Tab 3</div>
              <div id="tab3" class="tab_content">
                <h2>Tab 3 content</h2>
                <p>Nulla eleifend felis vitae velit tristique imperdiet. Etiam nec imperdiet elit. Pellentesque sem
                  lorem, scelerisque sed facilisis sed, vestibulum sit amet eros.</p>
              </div>
              <!-- #tab3 -->
              <div class="tab_drawer_heading" rel="tab4">Tab 4</div>
              <div id="tab4" class="tab_content">
                <h2>Tab 4 content</h2>
                <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non
                  faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris
                  justo nec eros.</p>
              </div>
              <!-- #tab5 -->
              <div class="tab_drawer_heading" rel="tab5">Tab 5</div>
              <div id="tab5" class="tab_content">
                <h2>Tab 5 content</h2>
                <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non
                  faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris
                  justo nec eros.</p>
              </div>
              <!-- #tab6 -->
              <div class="tab_drawer_heading" rel="tab6">Tab 6</div>
              <div id="tab6" class="tab_content">
                <h2>Tab 6 content</h2>
                <p>Integer ultrices lacus sit amet lorem viverra consequat. Vivamus lacinia interdum sapien non
                  faucibus. Maecenas bibendum, lectus at ultrices viverra, elit magna egestas magna, a adipiscing mauris
                  justo nec eros.</p>
              </div>
            </div>
            <!-- .tab_container -->
          </div>
      </div>
      </section>
    </div>
  </div>
  </div>
</main>
{% include "components/footer.html" %}
{% endblock %}