{% set title = "index" %}

{% extends "main.tpl" %}

{% block content %}

{% include "components/header.html" %}

<main>
  <div class="container-mod">
    <div class="row mb80">
      <div class="col-md-12">
        <section class="block">
          <div class="block-inner">
            <div class="block-slide">
              <div class="swiper-container mySwiper swiper-container-h">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="slide-img"><img src="./images/png/Group.png" alt=":("></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-img"><img src="./images/png/Group.png" alt=":("></div>
                  </div>
                  <div class="swiper-slide">
                    <div class="slide-img"><img src="./images/png/Group.png" alt=":("></div>
                  </div>
                </div>

              </div>
              <div class="swiper-paginationx"></div>
            </div>
            <div class="block-info">
              <div>
                <h1 class="block-info-title">Установка, продажа
                  и настройка
                  оборудования
                  <span>триколор</span>
                </h1>
                <div class="block-info-subtitle">
                  Закажите оборудование сейчас
                  и получите <span>3 ПОДАРКА:</span>
                </div>
                <ul class="info-ul">
                  <li class="info-ul-item">Грозозащиту</li>
                  <li class="info-ul-item">Сим-карту с безлимитным интернет тарифом</li>
                  <li class="info-ul-item">Скидку 10% на любую услугу</li>
                </ul>
                <div class="btn-wrap"><a href="#!" class="red-btn">Заказать</a> </div>

              </div>
              <div class="row">
                <div class="col-md-4 pr0">
                  <a href="#!" class="block-mini-card">
                    <img src="./images/svg/hd.svg" alt=":(">
                    <div>220 каналов
                      в HD качестве </div>
                  </a>
                </div>
                <div class="col-md-4 pr0">
                  <a href="#!" class="block-mini-card">
                    <img src="./images/svg/Деньги.svg" alt=":(">
                    <div>от 100 рублей
                      в месяц в любой точке РФ</div>
                  </a>
                </div>
                <div class="col-md-4">
                  <a href="#!" class="block-mini-card">
                    <img src="./images/svg/Сигнал.svg" alt=":(">
                    <div>Надежный прием
                      в любой точке РФ</div>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="m-768">
            <div class="row">
              <div class="col-md-4 pr0">
                <a href="#!" class="block-mini-card mini-card">
                  <img src="./images/svg/hd.svg" alt=":(">
                  <div>220 каналов
                    в HD качестве </div>
                </a>
              </div>
              <div class="col-md-4 pr0">
                <a href="#!" class="block-mini-card mini-card">
                  <img src="./images/svg/Деньги.svg" alt=":(">
                  <div>от 100 рублей
                    в месяц в любой точке РФ</div>
                </a>
              </div>
              <div class="col-md-4">
                <a href="#!" class="block-mini-card mini-card">
                  <img src="./images/svg/Сигнал.svg" alt=":(">
                  <div>Надежный прием
                    в любой точке РФ</div>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    <div class="row mb80">
      <div class="col-md-12">
        <section class="tabContent-wrap">
          <div class="tabContent-title">Комплекты и оборудование</div>
          <!-- main tab -->
          <div>
            <div class="tabsy">
              <input type="radio" id="tab1" name="tab" checked>
              <label class="tabButton" for="tab1">
                <div class="tab-item">
                  <img src="./images/svg/smart-tv-icon.svg" alt=":(">
                  <span>Спутниковое
                    телевидение</span>
                </div>
              </label>
              <div class="tab">
                <div class="content">
                  <!-- inner tab -->
                  <div class="tabInner">

                    <input type="radio" id="tabx1" name="tabx" checked>
                    <label class="tabButtonx" for="tabx1">
                      <div class="tab-itemx">
                        <span>Комплекты</span>
                      </div>
                    </label>
                    <div class="tabx">
                      <div class="contentx">
                        <!-- tab inner slider -->
                        <div>
                          <div class="swiper mySwiperx">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <div class="card-complect">
                                  <div class="complect-head">
                                    <div class="complect-title">Комплект на 1 ТВ
                                      с ресивером
                                      GS B 622</div>
                                    <div>
                                      <div class="complect-price">1.700<span>Р</span></div>
                                      <div class="complect-subprice">1.800<span>Р</span></div>
                                    </div>
                                  </div>
                                  <div class="complect-content">
                                    <div class="list-title">Функции</div>
                                    <ul class="list">
                                      <li class="list-item">Timeshift (отложенный просмотр)</li>
                                      <li class="list-item">PVR (запись эфира)</li>
                                      <li class="list-item">Кинозалы</li>
                                      <li class="list-item">Синематика (Ранее лучшее на ТВ)</li>
                                      <li class="list-item">Другие</li>
                                    </ul>
                                    <div class="complect-info-title">Описание</div>
                                    <p class="complect-text">Цифровая двухтюнерная спутниковая
                                      приставка со встроенной памятью
                                      объемом 8 ГБ</p>
                                    <div class="coplect-link-wrap">
                                      <a class="buy-link" href="#!">Купить</a>
                                      <a class="info-link" href="#!">Подробнее</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card-info">
                                  <div class="card-antena">
                                    <img src="./images/png/Фото.png" alt=":(">
                                  </div>
                                  <div class="card-element">
                                    <div class="red">Хит продаж</div>
                                    <div class="navy"> <span>Кредит</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                    <div class="blue"> <span>Рассрочка</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                  </div>
                                  <div class="card-info-content">
                                    <div class="card-info-title">Ресивер GS B621 </div>
                                    <div class="card-price-wrap">
                                      <span class="card-info-price">1800 руб.</span>
                                      <span class="card-info-subprice">1700 руб.</span>
                                    </div>
                                    <div class="coplect-link-wrap">
                                      <a class="buy-link" href="#!">Купить</a>
                                      <a class="info-link" href="#!">Подробнее</a>
                                    </div>
                                  </div>

                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card-info">
                                  <div class="card-antena">
                                    <img src="http://picsum.photos/505" alt=":(">
                                  </div>
                                  <div class="card-element">
                                    <div class="red">Хит продаж</div>
                                    <div class="navy"> <span>Кредит</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                    <div class="blue"> <span>Рассрочка</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                  </div>
                                  <div class="card-info-content">
                                    <div class="card-info-title">Ресивер GS B621 </div>
                                    <div class="card-price-wrap">
                                      <span class="card-info-price">1800 руб.</span>
                                      <span class="card-info-subprice">1700 руб.</span>
                                    </div>
                                    <div class="coplect-link-wrap">
                                      <a class="buy-link" href="#!">Купить</a>
                                      <a class="info-link" href="#!">Подробнее</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card-info">
                                  <div class="card-antena">
                                    <img src="http://picsum.photos/500" alt=":(">
                                  </div>
                                  <div class="card-element">
                                    <div class="red">Хит продаж</div>
                                    <div class="navy"> <span>Кредит</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                    <div class="blue"> <span>Рассрочка</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                  </div>
                                  <div class="card-info-content">
                                    <div class="card-info-title">Ресивер GS B621 </div>
                                    <div class="card-price-wrap">
                                      <span class="card-info-price">1800 руб.</span>
                                      <span class="card-info-subprice">1700 руб.</span>
                                    </div>
                                    <div class="coplect-link-wrap">
                                      <a class="buy-link" href="#!">Купить</a>
                                      <a class="info-link" href="#!">Подробнее</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card-info">
                                  <div class="card-antena">
                                    <img src="http://picsum.photos/501" alt=":(">
                                  </div>
                                  <div class="card-element">
                                    <div class="red">Хит продаж</div>
                                    <div class="navy"> <span>Кредит</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                    <div class="blue"> <span>Рассрочка</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                  </div>
                                  <div class="card-info-content">
                                    <div class="card-info-title">Ресивер GS B621 </div>
                                    <div class="card-price-wrap">
                                      <span class="card-info-price">1800 руб.</span>
                                      <span class="card-info-subprice">1700 руб.</span>
                                    </div>
                                    <div class="coplect-link-wrap">
                                      <a class="buy-link" href="#!">Купить</a>
                                      <a class="info-link" href="#!">Подробнее</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="swiper-slide">
                                <div class="card-info">
                                  <div class="card-antena">
                                    <img src="http://picsum.photos/502" alt=":(">
                                  </div>
                                  <div class="card-element">
                                    <div class="red">Хит продаж</div>
                                    <div class="navy"> <span>Кредит</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                    <div class="blue"> <span>Рассрочка</span> <img src="./images/svg/question.svg"
                                        height="15px" alt=":("></div>
                                  </div>
                                  <div class="card-info-content">
                                    <div class="card-info-title">Ресивер GS B621 </div>
                                    <div class="card-price-wrap">
                                      <span class="card-info-price">1800 руб.</span>
                                      <span class="card-info-subprice">1700 руб.</span>
                                    </div>
                                    <div class="coplect-link-wrap">
                                      <a class="buy-link" href="#!">Купить</a>
                                      <a class="info-link" href="#!">Подробнее</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="swiper-button-next">
                              <img src="./images/svg/rightArrow.svg" alt="">
                            </div>
                            <div class="swiper-button-prev"><img src="./images/svg/leftArrow.svg" alt=""></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <input type="radio" id="tabx2" name="tabx">
                    <label class="tabButtonx" for="tabx2">
                      <div class="tab-itemx">
                        <span>Обмен</span>
                      </div>
                    </label>
                    <div class="tabx">
                      <div class="contentx">
                        <h3>Heading 2</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                          printer took
                          a galley of type and scrambled it to make a type specimen book. It has survived not only five
                          centuries, but
                          also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      </div>
                    </div>
                    <input type="radio" id="tabx3" name="tabx">
                    <label class="tabButtonx" for="tabx3">
                      <div class="tab-itemx">
                        <span>Ресиверы </span>
                      </div>
                    </label>
                    <div class="tabx">
                      <div class="contentx">
                        <h3>Heading 3</h3>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                          printer took
                          a galley of type and scrambled it to make a type specimen book. It has survived not only five
                          centuries, but
                          also the leap into electronic typesetting, remaining essentially unchanged.</p>
                      </div>
                    </div>
                    <input type="radio" id="tabx4" name="tabx">
                    <label class="tabButtonx" for="tabx4">
                      <div class="tab-itemx">
                        <span>Эфирное ТВ</span>
                      </div>
                    </label>
                    <div class="tabx">
                      <div class="contentx">
                        <h3>Heading 4</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatem voluptatum placeat
                          ratione quibusdam eius libero, suscipit odio accusamus fugit illum tempore dolor ipsam facere
                          molestiae rem sequi est excepturi nulla.</p>
                      </div>
                    </div>
                    <input type="radio" id="tabx5" name="tabx">
                    <label class="tabButtonx" for="tabx5">
                      <div class="tab-itemx tar">
                        <span>Антенны-тарелки</span>
                      </div>
                    </label>
                    <div class="tabx">
                      <div class="contentx">
                        <h3>Heading 5</h3>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam cumque inventore nihil optio
                          illo? Molestias earum, neque quia quasi sequi natus provident eaque eius qui quibusdam quas
                          repellat atque dignissimos?</p>
                      </div>
                    </div>
                  </div>
                  <!-- ================= -->
                </div>
              </div>
              <input type="radio" id="tab2" name="tab">
              <label class="tabButton" for="tab2">
                <div class="tab-item m-10">
                  <img src="./images/svg/wifi.svg" alt=":(">
                  <span>3G/4G связь
                    и интернет</span>
                </div>
              </label>
              <div class="tab">
                <div class="content">
                  <h3>Heading 2</h3>
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took
                    a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
              <input type="radio" id="tab3" name="tab">
              <label class="tabButton" for="tab3">
                <div class="tab-item">
                  <img src="./images/svg/icon-satellite.svg" alt=":(">
                  <span>Спутниковый
                    интернет </span>
                </div>
              </label>
              <div class="tab">
                <div class="content">
                  <h3>Heading 3</h3>
                  <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took
                    a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries, but
                    also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
              </div>
              <input type="radio" id="tab4" name="tab">
              <label class="tabButton" for="tab4">
                <div class="tab-item">
                  <img src="./images/svg/house.svg" alt=":(">
                  <span>Умный дом и интернет</span>
                </div>
              </label>
              <div class="tab">
                <div class="content">
                  <h3>Heading 4</h3>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore quibusdam vel eius illum. Rerum
                    aliquam dicta cum reprehenderit molestiae? Recusandae, dolorem. Animi nostrum voluptatum sint enim
                    quas eveniet ab vitae.</p>
                </div>
              </div>
              <input type="radio" id="tab5" name="tab">
              <label class="tabButton" for="tab5">
                <div class="tab-item">
                  <img src="./images/svg/free-ismart-tv.svg" alt=":(">
                  <span>Эфирное
                    телевидиние</span>
                </div>
              </label>
              <div class="tab">
                <div class="content">
                  <h3>Heading 5</h3>
                  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, fugit ab harum cumque rem
                    tempora. Rerum soluta magnam sint, impedit laborum non nobis accusamus aliquid dolorum aliquam
                    quaerat asperiores consectetur.</p>
                </div>
              </div>
              <input type="radio" id="tab6" name="tab">
              <label class="tabButton" for="tab6">
                <div class="tab-item">
                  <img src="./images/svg/security-video.svg" alt=":(">
                  <span>Видеонаблю-
                    дение</span>
                </div>
              </label>
              <div class="tab">
                <div class="content">
                  <h3>Heading 6</h3>
                  <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum ipsa saepe accusamus cumque
                    repudiandae assumenda labore, delectus quis dolorem molestias, aliquid dolor repellat aperiam
                    voluptatem quisquam officia animi. Veniam, eum. </p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</main>
{% include "components/footer.html" %}
{% endblock %}