<header class="header">
  <div class="container-mod">
    <div class="nav-block">
      <div class="logo-wrap">
        <div class="logo"><img src="./images/svg/logo-trikolor.svg" alt=":("></div>
        <div class="logo-text">Установка и настройка
          Триколор в Москве и области</div>
      </div>
      <nav class="menu-block">
        <input id="menu-toggle" type="checkbox" />
        <label class="menu-btn" for="menu-toggle">
          <span></span>
        </label>
        <ul class="menu menu-box">
          <div class="nav-call-block b-1024">
            <div>
              <a class="nav-tel" href="#!">8 800 122-11-22</a>
              <a class="nav-tel" href="#!">8 909 730-59-90</a>
            </div>
            <a class="call-link" href="#!">Заказать звонок</a>
          </div>
          <div class="nav-social">
            <img src="./images/svg/whatsapp.svg" alt=":(">
            <img src="./images/svg/telegram.svg" alt=":(">
            <img src="./images/svg/viber.svg" alt=":(">
            <span class="line"></span>
            <span class="online">Мы онлайн</span>
          </div>
          <li class="menu-item first-item">
            <a class="menu-link aktiv" href="#!">Купить</a>
            <ul class="menu-dropdown">
              <li class="item-dropdown"> <a href="#!">Спутниковое ТВ</a></li>
              <li class="item-dropdown"> <a href="#!">3G/4G интернет и связь</a></li>
              <li class="item-dropdown"> <a href="#!">Спутниковый интернет</a></li>
              <li class="item-dropdown"> <a href="#!">Умный дом</a> </li>
              <li class="item-dropdown"> <a href="#!">Эфирное телевидиние</a></li>
              <li class="item-dropdown"> <a href="#!">Видеонаблюдение</a></li>
            </ul>
          </li>
          <li class="menu-item"><a class="menu-link" href="#!">Обменять</a></li>
          <li class="menu-item"><a class="menu-link" href="#!">Установить/Настроить</a></li>
          <li class="menu-item"><a class="menu-link" href="#!">Решить проблему</a></li>
          <li class="menu-item"><a class="menu-link" href="#!">Каналы и тарифы</a></li>
          <li class="menu-item-1024" ><a href="#!">Часто задаваемые вопросы</a></li>
          <li class="menu-item-1024" ><a href="#!">Наши работы</a></li>
          <li class="menu-item-1024" ><a href="#!">Отзывы</a></li>
          <li class="menu-item-1024" ><a href="#!">Контакты</a></li>
        </ul>
      </nav>
      <div class="nav-call-block">
        <div>
          <a class="nav-tel" href="#!">8 800 122-11-22</a>
          <a class="nav-tel" href="#!">8 909 730-59-90</a>
        </div>
        <a class="call-link" href="#!">Заказать звонок</a>
      </div>
    </div>
  </div>
</header>